* {
        background-color: #efefef;
}

epoch_wrap {
        background-color: white;
}
button {
        color: red;
        font-family: "Times New Roman";
        
}

epoch_time_output {
        color: #fff;
}